*{
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    margin: 0;
}

.wrapper{
    width: 850px;
    margin: 0 auto;
}

header div, footer, header{
    background-color: rgb(227, 174, 183);
}

header{
    width: 100%;
}

header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    width: 50px;
    height: 50px;
    margin: 10px;
}

header ul{
    color: white;
    display: flex;
    list-style: none;
}

header ul li{
    margin-right: 30px;
}

article:nth-child(odd){
    background-color: rgb(245, 232, 232);
}

article:nth-child(2){
    background-color: rgb(241, 241, 241);
}

h2{
    margin: 0 0 30px 0;
    padding-top: 30px;
}

main article div div{
    display: flex;
}

p{
    margin: 0;
    color: rgb(74, 64, 64);
}

main article img{
    float: inline-end;
    width: 300px;
}

article ul{
    list-style: none;
    border: 1px solid rgb(189, 123, 30);
    border-radius: 20px;
    padding: 20px;
    width: 49%;
}

article ul li{
    border-bottom: 1px solid rgb(74, 64, 64);
    flex-wrap: wrap;
    padding: 5px;
    color: rgb(74, 64, 64);
}

.lists{
    justify-content: space-between;
}

.round{
    border-radius: 100px;
    width: 100px;
    height: 100px;
    border: 1px solid rgb(74, 64, 64);
}

.stock-art{
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

footer{
    text-align: center;
    padding: 20px;
    color: rgb(74, 64, 64);
}

