*{
    box-sizing: border-box;
}

html,
body{
    margin: 0 auto;
    text-align: center;
}

.header,
.main__first-part,
.main__second-part,
.footer{
    display: grid;
    grid-template-columns: 5px auto 5px;
    grid-template-areas: 
    ". layout .";
}

.header,
.footer,
.form__button{
    background-color: rgb(21, 15, 10);
}

.layout{
    grid-area: layout;
}

.header{
    height: 28px;
}

.header__image{
    width: 50px;
    object-fit: cover;
}

.header__list{
    display: none;
}

.main{
    grid-area: main;
}

h1{
    padding-top: 25px;
}

h1,
h2{
    font-size: 20px;
}

.card__picture{
    object-fit: cover;
    height: 10em;
    width: 100%;
}

.card__paragraph,
.card__title{
    font-size: smaller;
}

.card__bold,
.card__title{
    text-transform: uppercase;
}

.card__bold{
    font-weight: bold;
}

.form__input{
    width: 100%;
    border: none;
    border-bottom: 1px solid grey;
    padding: 5px;
    font-size: 1em;
}

.form__checkboxes{
    display: grid;
    grid-template-columns: 50% 50%;
}

.form__checkbox{
    padding: 5px;
    display: grid;
}

.form__label{
    color: grey;
}

.form__button{
    color: white;
    border: none;
    padding: 10px 25px;
    margin: 10px;
}

.footer{
    grid-area: footer;
    color: white;
}

.footer__layout{
    display: grid;
    text-align: left;
}

.footer__paragraph{
    margin: 0px;
}

.footer__links-section{
    display: grid;
    padding-bottom: 20px;
}

.footer__link{
    text-decoration: none;
    color: white;
}

@media screen and (min-width: 768px){
    .header,
    .main__first-part,
    .main__second-part,
    .footer{
        display: grid;
        grid-template-columns: 250px auto 250px;
        grid-template-areas: 
        ". layout .";
    }

    .header{
        height: 50px;
    }

    .header__navigation{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "header__image header__navigation__list";
    }

    .header__image{
        grid-area: header__image;
        width: 88px;
    }

    .header__list{
        /* display: flex;
        justify-content: flex-end; */
        align-items: center;
        grid-area: header__navigation__list;
        color: white;
        
        display: grid;
        grid-auto-flow: column;
        justify-self: end;
        gap: 20px;
    }

    .header__item{
        list-style: none;
    }

    h1,
    h2{
        font-size: 26px;
    }

   .card-container{
        display: grid;
        grid-template-columns: 1ft 1ft 1ft 1fr;
        gap: 30px;
        grid-template-areas:
        "card card card card";
    }

    .card__title{
        font-size: 22px;
    }

    .card__paragraph{
        font-size: 18px;
    }

    .form{
        width: 600px;
        margin: 0 auto;
    }

    .form__button{
        padding: 15px 60px;
        margin: 20px;
        font-size: 20px;
    }

    .footer__layout{
        margin-top: 50px;
        margin-bottom: 30px;
        grid-template-columns: 50% 50%;
        grid-template-areas:
        "footer__paragraphs-section footer__links-section";
    }
}