.form {
    background-color: white;
    width: 600px;
    text-align: center;
    box-shadow: $shadow;
    margin: 10px auto;

    &__title {
        font-weight: 400;
        margin: 0 0 30px 0;
    }

    &__inputs {
        display: flex;
        justify-content: center;
    }

    &__add-field {
        background-color: $cover-color;
        border: 1px solid rgb(236, 235, 235);
        border-radius: 5px 0 0 5px;
        padding: 5px;
        width: 400px;
    }

    &__button {
        background-color: $primary-color;
        width: 100px; 
        border: none;
        color: white;
        border-radius: 0 5px 5px 0;
    }

    &__mistake-message {
        text-transform: capitalize;
        font-size: x-small;
        text-align: left;
        width: 510px;
        margin: 10px auto;
        color: brown;
    }
}

.first-card {
    margin: 80px auto;
    padding: 30px;
}
