$border-radius: 10px;

// spalvos
$primary-color: red;
$secondary-color: blue;
$special-color: green;


h1 {
    border: 1px solid red;
    border-radius: $border-radius;
}

.article {
    border: solid;

    &__paragraph {
    border-radius: $border-radius;
    }
}