@import "variables.scss";
@import "cards.scss";
@import "small-cards.scss";
@import "edit.scss";

*{
    box-sizing: border-box;
}

html,
body {
    margin: $primary-margin;
    font-family: sans-serif;
    background-color: $cover-color;
}

.header {
    display: grid;
    grid-template-columns: 40px auto 40px;
    grid-template-areas:
    ". wrapper .";
    box-shadow: $shadow;
    position: relative;


    &__wrapper {
        grid-area: wrapper;
        display: flex;
        justify-content: space-between;
        justify-items: $main-position;
        align-items: $main-position;
    }

    &__title-color {
        color: $primary-color;
    }

    &__list {
        display: flex;
        gap: 20px;
    }

    &__list-item {
        list-style: none;
    }

    &__link {
        text-decoration: none;
        color: $primary-color;
    }

    &__logo {
        width: 15px;
        height: 15px;
    }
}