.form {
  background-color: white;
  width: 600px;
  text-align: center;
  box-shadow: 0px 5px 10px -5px rgba(37, 37, 37, 0.7);
  margin: 10px auto;
}
.form__title {
  font-weight: 400;
  margin: 0 0 30px 0;
}
.form__inputs {
  display: flex;
  justify-content: center;
}
.form__add-field {
  background-color: rgb(247, 250, 251);
  border: 1px solid rgb(236, 235, 235);
  border-radius: 5px 0 0 5px;
  padding: 5px;
  width: 400px;
}
.form__button {
  background-color: rgb(110, 86, 231);
  width: 100px;
  border: none;
  color: white;
  border-radius: 0 5px 5px 0;
}
.form__mistake-message {
  text-transform: capitalize;
  font-size: x-small;
  text-align: left;
  width: 510px;
  margin: 10px auto;
  color: brown;
}

.first-card {
  margin: 80px auto;
  padding: 30px;
}

.form__icon {
  width: 10px;
  height: 10px;
}

.second-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.small-title {
  margin: 0;
}

.form-second {
  padding: 20px 50px;
}

.crossed {
  text-decoration: line-through;
}

.form-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.form-third {
  padding: 20px 50px 20px 20px;
}

main {
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "label-1 input-1" "label-2 input-2" "label-3 input-3";
}
form .label-1 {
  grid-area: label-1;
}
form .label-2 {
  grid-area: label-2;
}
form .label-3 {
  grid-area: label-3;
}
form .input-1 {
  grid-area: input-1;
}
form .input-2 {
  grid-area: input-2;
  background-color: rgb(247, 250, 251);
  border: 1px solid rgb(236, 235, 235);
  border-radius: 5px;
  padding: 5px;
  width: 350px;
}
form .input-3 {
  grid-area: input-3;
}
form .label-1,
form .label-2,
form .label-3,
form .input-1,
form .input-2 {
  text-align: left;
  margin: 0;
  padding: 10px 0;
}
form .input-2 {
  padding: 10px;
}
form .input-3 {
  width: 15px;
  height: 15px;
  align-self: center;
  justify-self: center;
}

.edit-button {
  color: white;
  background-color: rgb(110, 86, 231);
  border: none;
  border-radius: 3px;
  width: 100%;
  padding: 5px;
}

.mistake-message {
  text-transform: capitalize;
  font-size: x-small;
  text-align: center;
  width: 510px;
  margin: 20px auto;
  color: brown;
}

button {
  color: white;
  background-color: black;
  padding: 10px;
  border: none;
  border-radius: 3px;
  margin-bottom: 100px;
  width: 300px;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(247, 250, 251);
}

.header {
  display: grid;
  grid-template-columns: 40px auto 40px;
  grid-template-areas: ". wrapper .";
  box-shadow: 0px 5px 10px -5px rgba(37, 37, 37, 0.7);
  position: relative;
}
.header__wrapper {
  grid-area: wrapper;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}
.header__title-color {
  color: rgb(110, 86, 231);
}
.header__list {
  display: flex;
  gap: 20px;
}
.header__list-item {
  list-style: none;
}
.header__link {
  text-decoration: none;
  color: rgb(110, 86, 231);
}
.header__logo {
  width: 15px;
  height: 15px;
}

/*# sourceMappingURL=style.css.map */
