* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: ". main .";
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 400px 200px 400px;
    grid-template-rows: ;
    grid-template-areas:
        "section-1 image-1 ."
        ". image-2 section-2"
        "section-3 image-3 ."
        ". image-4 section-4"
        ". finish .";
    gap: 20px;
}

.section-1 {
    grid-area: section-1;
}

.section-2 {
    grid-area: section-2;
}

.section-3 {
    grid-area: section-3;
}

.section-4 {
    grid-area: section-4;
}

div {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    border: 10px solid rgb(218, 212, 212);
    z-index: 1;
}

.image-1 {
    grid-area: image-1;
    background-image: url(https://images.unsplash.com/photo-1589802829985-817e51171b92?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8N3x8fGVufDB8fHx8&w=1000&q=80);
}

.image-2 {
    grid-area: image-2;
    background-image: url(https://images.pexels.com/photos/46148/aircraft-jet-landing-cloud-46148.jpeg?cs=srgb&dl=pexels-pixabay-46148.jpg&fm=jpg);
}

.image-3 {
    grid-area: image-3;
    background-image: url(https://images.all-free-download.com/images/graphiclarge/apple_computer_desk_hand_iphone_keyboard_laptop_mac_597406.jpg);
}

.image-4 {
    grid-area: image-4;
    background-image: url(https://i.pinimg.com/originals/d3/45/11/d3451114ab4e1d55ead624930bcff60c.jpg);
}

.image-5 {
    grid-area: finish;
    background-color: rgb(224, 185, 93);
    position: relative;
}

h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: x-large;
    color: white;
    text-align: center;
    margin: 0;
}

section:nth-child(odd) {
    text-align: right;
}

aside {
    position: absolute;
    left: 50%;
    transform: rotate(180deg); translate(-50%, -50%);
    border-radius: 50%;
    width: 1px;
    height: 1000px;
    border: 2px solid rgb(218, 212, 212);
    background-color: rgb(218, 212, 212);
}