* {
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    margin: 0;
}

body {
    background-color: rgb(28, 27, 27);
    position: relative;
}

nav {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding-top: 100px;
}

ul{
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    list-style: none;
    margin-top: 30px;
}


a{
    text-decoration: none;
    color: white;
    position: relative;
    display: block;
    text-transform: uppercase;
    overflow: hidden;
}

a::before,
a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: #ff3535;
    transition: 0.7s ease-in-out;
}

a::before{
    top: 0;
    left: -100%;
}

a::after{
    left: 100%;
    height: 10%;
    bottom: 0;
}

a:hover::before{
    left: 100%;
}

a:hover::after{
    left: 0;
    transition-delay: 0.7s;
}
