*{
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: none;
    background-color: rgb(146, 175, 40);
    padding: 20px;
}

body{
    background-image: url(https://www.wallart.com/media/catalog/product/cache/5b18b93ddbe5d6592c6b175f41d24454/w/0/w05628-small.jpg);
    background-size: 100px;
    margin: 0;
}

.wrapper{
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

header, article a{
    background-color: rgb(146, 175, 40);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    height: 70px;
}

header ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

header ul li:not(:last-child) {
    margin-right: 30px;
}

main{
    background-color: white;
    display: flex;
}

article img{
    float: left;
    margin: 0 20px 20px 0;
    width: 150px;
}

article{
    text-align: justify;
}

article:nth-child(odd){
    margin-right: 20px;
}

article nav{
    display: flex;
    justify-content: right;
}

article a{
    color: white;
    padding: 20px;
}

footer{
    text-align: center;
    color: darkolivegreen;
}
